h1, h2
{
    text-align: center;
}
.ensemble
{
    display: flex;
    justify-content: space-around;
}
.gauche, .droite
{
    margin: 2rem;
}
.gauche
{
    background-image: url("assets/image/index.jpg");
}