*
{
    font-style: italic;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
body
{
    background-color: #79eac8;
}
h1, h2
{
    text-align: center;
}
.ensemble
{
    display: flex;
    justify-content: space-around;
}
.gauche, .droite
{
    margin: 2rem;
}
#btn, #btn2
{
    background-color: #18483a;
    color: white;
}