*
{
    font-style: italic;
}
body
{
    background-color: #f5f5f5;
}
h1, h2
{
    text-align: center;
}
.ensemble
{
    display: flex;
    justify-content: space-around;
}
.gauche, .droite
{
    margin: 2rem;
}